@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply text-white bg-brand-bg min-h-screen; 
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, Noto Sans, "Apple Color Emoji", "Segoe UI Emoji";
}

.glass {
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(8px);
}


